<!-- Main Section Start -->
{% extends 'Base.html' %}
{% block content %}
{% include 'includes/header.html' %}
<div class="main-section">
    <div class="page-section nopadding cs-nomargin"
        style="margin-top: 0px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            <h4 class="text-center" style="margin-bottom: 0;">WELCOME TO FOODONLINE</h4>
                            <p class="text-center">Please fill this form to get yourself onboarded in the foodOnline
                                marketplace.</p>
                            <hr>
                            <div id="restaurant-sets-holder">
                                <form class="form-fields-set foodbakery-dev-restaurant-form" method="POST" action="">
                                    <!-- register-select-package.html -->
                                    {% csrf_token %}
                                    <ul
                                        class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <ul>
                                                            <li>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>First name</label>{{form.first_name}}
                                                                        <!-- <input type="text"
                                                                            class="foodbakery-dev-req-field"
                                                                            id="foodbakery_restaurant_title_59054637"
                                                                            name="foodbakery_restaurant_title"> -->
                                                                    </div>
                                                                </div>
                                                                <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Picture</label>{{form1.profile_picture}}
                                                                    </div>
                                                                </div> -->
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Last name</label>{{form.last_name}}
                                                                        <!-- <input type="text"
                                                                            id="foodbakery_restaurant_phone_59054637"
                                                                            name="foodbakery_restaurant_contact_phone"> -->
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Email Address</label>{{form.email}}
                                                                        <!-- <input type="text"\
                                                                            id="foodbakery_restaurant_contact_email_59054637"
                                                                            name="foodbakery_restaurant_contact_email"> -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Username</label>{{form.username}}
                                                                        <!-- <input type="text"
                                                                            id="foodbakery_restaurant_contact_username_59054637"
                                                                            name="foodbakery_restaurant_contact_username"> -->
                                                                    </div>
                                                                </div>
                                                            </li>

                                                            <li>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Password</label>{{form.password}}
                                                                        <!-- <input type="password"
                                                                            name="foodbakery_restaurant_password"
                                                                            class="foodbakery-dev-username foodbakery-dev-req-field"> -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Confirm
                                                                            Password</label>{{form.confirm_password}}
                                                                        <!-- <input type="password"
                                                                            name="foodbakery_restaurant_user_confirmPassword"
                                                                            class="foodbakery-dev-user-email foodbakery-dev-req-field"> -->
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <ul class="errorlist">
                                            {% for field in form %}
                                            {% if form.errors %}
                                            {% for error in field.errors %}
                                            <li class="text-success">{{ error }}</li>
                                            {% endfor %}
                                            {% endif %}
                                            {% endfor %}
                                            <li class="text-primary">{{ form.non_field_errors }}</li>
                                        </ul>
                                        {% if messages %}
                                        <div class="alert alert-warning alert-dismissible fade show " role="alert">
                                            {% for message in messages %}
                                            <h3 class="text-success">{{ message }}</h3>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <div class="payment-holder">
                                                            <input type="submit" value="Submit"
                                                                id="btn-next-restaurant-information" class="bgcolor">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->
{% include 'includes/footer.html'%}
{% endblock %}